* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #060507;
  height: 100vh;
  width: 100vw;
}

header {
  height: 164px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #060507;
  color: #FFFFFF;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header .logo {
  width: 285px;
  height: 45px;
  margin: 54px 104px 64px 64px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 72px;
  list-style: none;
  text-transform: uppercase;
  position: relative;
  top: -7px;
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 183%;
  /* or 26px */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

header .img {
  width: 575px;
  height: 562px;
}

header .img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1550px;
  height: 500px;
  background: #060507;
  overflow: hidden;
}

.main .img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.main .img1 h2 {
  position: absolute;
  color: #ffffff;
}

.main img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100vw;
  height: 150px;
}

.mainRight {
  width: 353px;
  height: 749px;
  color: #ffffff;
}

.mainRight .container {
  width: 100%;
}

.mainBottom {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1550px;
}

.mainBottom .content {
  height: 92px;
  width: 933px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainBottom .content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBottom .content .left .barre {
  position: relative;
  height: 2px;
  width: 140px;
  background: #A75B12;
  z-index: 2;
}

.mainBottom .content .left .barre:after {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  width: 86px;
  background: #ffffff;
  z-index: 1;
}

.mainBottom .content .left h2 {
  margin: 0 40px;
}

.mainBottom .content .left h2 span {
  margin: 0 20px;
}

.mainBottom .content .center p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  /* or 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */