* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #060507;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  height: 164px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #060507;
  color: #FFFFFF;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header .logo {
  width: 15vw;
  height: 45px;
  margin: 54px 104px 64px 64px;
}

header nav {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}

header nav li {
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

header nav li:hover {
  color: #F7E6B1;
}

header .img {
  height: 35vh;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  height: 55vh;
  background: #060507;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .img1 h2 {
  border-radius: 50%;
  position: absolute;
  color: #ffffff;
  right: 0;
  top: 50px;
  font-family: 'Roboto', sans-serif;
}

.main img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100vw;
  height: 150px;
}

.mainBottom {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
}

.mainBottom .content {
  height: 92px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainBottom .content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-family: 'Roboto', sans-serif;
}

.mainBottom .content .left .barre {
  position: relative;
  height: 2px;
  width: 140px;
  background: #A75B12;
  z-index: 2;
}

.mainBottom .content .left .barre:after {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  width: 86px;
  background: #ffffff;
  z-index: 1;
}

.mainBottom .content .left h2 {
  margin: 0 40px;
}

.mainBottom .content .left h2 span {
  margin: 0 50px;
  cursor: pointer;
  width: auto;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.mainBottom .content .left h2 span:hover {
  color: #A75B12;
}

.mainBottom .content .center {
  width: 40%;
}

.mainBottom .content .center p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  /* or 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.mainBottom .content .right {
  width: 20%;
}

.mainRight {
  background: #060507;
  width: 20vw;
  height: 70vh;
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainRight .left {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainRight .left h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* or 267% */
  text-align: center;
  color: #3F3E44;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mainRight .right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainRight .right h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #b9b8b8;
}

.mainRight .right h3 {
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */