* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
body {
    background: #060507;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header {
    height: 164px;
    width: 100vw;
    display: flex;
    background: #060507;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .logo {
        width: 15vw;
        height: 45px;
        margin: 54px 54px 64px 64px;
    }

    nav {
        width: 60vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #FFFFFF;
        }

        li {
            cursor: pointer;
            transition: color 0.3s;
        }

        li:hover {
            color: #F7E6B1;
        }
    }

    .img {
        // position: absolute;
        // right: 0;
        height: 35vh;
    }
}

.main {
    position: relative;
    display: flex;
    // width: 1389px;
    width: 80vw;
    height: 60vh;
    background: #060507;
    overflow: hidden;
    justify-content: space-around;

    .img1 {
        display: flex;
        position: relative;

        #abso {
            color: #ffffff;
            position: absolute;
            right: -50px;
            height: auto;
            width: 170px;
            top: 20px;
            object-fit: cover;
            font-family: 'Roboto', sans-serif;
            animation: rotateImg  infinite 35s;
        }
    }

    img {
        height: 100%;
        object-fit: cover;
    }

    img:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 100vw;
        height: 150px;
    }
}

.mainBottom {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    .content {
        height: 92px;
        width: 80vw;
        display: flex;


        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            .barre {
                position: relative;
                height: 2px;
                width: 10vw;
                background: #A75B12;
                z-index: 2;
            }

            .barre:after {
                content: '';
                display: block;
                height: 2px;
                width: 5vw;
                background: #ffffff;
                z-index: 1;
            }

            h2 {
                margin: 0 40px;

                span {
                    margin: 0 50px;
                    cursor: pointer;
                    width: auto;
                    transition: color 0.3s;
                }

                span:hover {
                    color: #A75B12;
                }
            }
        }

        .center {
            width: 40%;
            min-width: 220px;
            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 200%;
                /* or 24px */
                display: flex;
                align-items: center;
                color: #ffffff;

            }
        }
        .right {
            width: 20%;
        }
    }
}

.mainRight {
    background: #060507;
    width: 20vw;
    height: 70vh;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;

    .left {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h4 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            /* or 267% */
            text-align: center;
            color: #3F3E44;
            transform: rotate(-90deg);
        }
    }

    .right {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        h4 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #b9b8b8;
        }

        h3 {
            font-family: 'Druk Wide';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 42px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
    }
}